<h1 class="index-header">Q&A</h1>

<%= link_to 'New Question', new_question_path, class: "btn btn-primary btn-lg", id: "q-button" %>

<%= render 'questions', obj: @questions %>


<div align="center">
    <%= will_paginate %>
</div>

