<div class="container">
	<div class="col-lg-11">
	<div id="banner">
		<div class="banner_content">
			<h1>Studyion</h1> 
			<p>Your online notebook. Never forget an idea again</p> 
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info" %> 
		</div>
	</div>

	<div id="testimonial">
		<div class="wrapper">
			<p class="quote">Never regard study as a duty, but as the enviable opportunity to learn. </p>
			<p class="name"> - Albert Einstein</p>
		</div>
	</div>

	<div id="callouts">
		<div class="callout_inner">  
			<div class="wrapper">    
				<div class="callout">
					<h2>Effortless <i class="fa fa-check-circle"></i></h2> 
					<p>The most straightforward and efficient way of studying online.</p> 
				</div>
				<div class="callout">
					<h2>Fast <i class="fa fa-bolt"></i></h2> 
					<p>The fastest way to get your notes saved and organized.</p> 
				</div>
				<div class="callout">
					<h2>Cooperative <i class="fa fa-users"></i></h2> 
					<p>Interact with other users to improve your learning process.</p> 
				</div>
			</div>
		</div>		
	</div>
	</div>
</div>

