<div class="container">
	<div class="col-lg-11">
	<div id="banner">
		<div class="banner_content">
			<h1>Studyion</h1> 
			<p>Your online notebook. Never forget an idea again</p> 
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info" %> 
		</div>
	</div>

	<div id="testimonial">
		<div class="wrapper">
			<p class="quote">The greatest note taking application ever made. Period.</p>
		</div>
	</div>

	<div id="callouts">
		<div class="callout_inner">  
			<div class="wrapper">    
				<div class="callout">
					<h2>Notes</h2> 
					<p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p> 
				</div>
				<div class="callout">
					<h2>Notes</h2> 
					<p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p> 
				</div>
				<div class="callout">
					<h2>Notes</h2> 
					<p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p> 
				</div>
			</div>
		</div>		
	</div>
	</div>
</div>

