// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#teacher-well{
  background: rgba(74, 157, 224, 0.425);

}

.post-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px; 
}

.post-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.post-subjects{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-title{
  font-weight: bold;
  font-size: 1.7em;
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
}

.post-body{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 5px; 
  font-size: 1.1em;
}

#search-form{
  width: 300px;
  height: 50px;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}