// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#banner {
	background-image: url("https://images.unsplash.com/photo-1520599918693-12354ce66a1d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=8b48775feddc398c16392017b5ddaa5c");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 500px;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			font-weight: bold;
			color: white;
			font-size: 3.5rem;
			margin: 0;
		}
		p {
			font-size: 1.5rem;
			margin: 0 0 2.5rem 0;
			color: rgba(255, 255, 255, 0.877);
		}
	}
}

#testimonial {
	text-align: center;
	font-size: 1.5rem;
	color: #afb0b0;
	padding: 3.5rem 0;
	.quote {
		margin: 0 0 .5rem 0;
	}
	.name {
		font-weight: bold;
		color: #3e4141;
		margin: 0;
		font-size: .85rem;
	}
}

#callouts {
	background-image: url("https://images.unsplash.com/photo-1515481873067-bfae3f724505?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=cb04ca7b26fe5e7c0f44323398df832b");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 400px;
	display: table;
	.callout_inner {
		display: table-cell;
		vertical-align: middle;
	}
	.callout {
		text-align: center;
		width: 33.3333%;
		padding: 1.5rem 2.5%;
		float: left;
		h2 {
			font-weight: bold;
			color: white;
			margin-bottom: 0;
		}
		p {
			color: rgba(250, 250, 250, 0.4);
		}
	}
}

#bottom_cta {
	text-align: center;
	padding: 7.5rem 0;
	h2 {
		font-weight: bold;
		color: #3e4141;
		font-size: 3rem;
		margin: 0;
	}
	p {
			font-size: 1.25rem;
			margin: 0 0 2.5rem 0;
			color: #a7a8a8;
		}
}