<% if current_user %>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
          <%= image_tag current_user.avatar.url(:thumb), class: "img-thumbnail"%>
            <h3>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <%= current_user.full_name %>
            </h3>
            <ul class="nav nav-list">
              <li><%= link_to "My Profile", user_path(current_user), class: "links"  %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path, class: "links" %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
<% end %>